{
 "Node": "test1-oss-data-01",
 "Address": "10.0.5.77",
 "service": {
 "name": "elasticsearch_devtest",
 "tags": ["es"],
 "port": 9200,
 "timeout": "10s"
},

"check":
    {
      "id": "Elaststicsearch Service Port",
      "name": "ES port 9200",
      "tcp": "{{ bind_address }}:9200",
      "interval": "10s"
    }
}
