version: '2'
services:
  {{inventory_hostname}}:
    image: confluentinc/cp-kafka:3.0.1
    network_mode: host
    restart: always
    volumes:
      - /var/lib/kafka/data:/var/lib/kafka/data
    environment:
      KAFKA_BROKER_ID: {{ kfk_broker_id }}
      KAFKA_ZOOKEEPER_CONNECT: {% for node in groups['zookeeper']  %}{{ node }}.cisco.com.node.consul:2181{% if not loop.last %},{% endif %}{% endfor %} 
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://{{ bind_address }}:9092
      KAFKA_ADVERTISED_HOST_NAME: {{ bind_address }}
      KAFKA_HOST_NAME: {{inventory_hostname}}-kfk
      KAFKA_LOG4J_ROOT_LOGLEVEL: DEBUG
    hostname: {{inventory_hostname}}-kfk