{
   "datacenter": "{{ datacenter }}",
   "data_dir": "/opt/consul",
   "log_level": "INFO",
   "start_join": [ {% for ip in consul_ips  %}"{{ ip }}"{% if not loop.last %},{% endif %}{% endfor %} ],
   "server": false,

   "addresses": {
      "http": "0.0.0.0",
      "dns": "0.0.0.0"
      },

   "ports":  {
      "dns": 53
   }

}
