{
   "client": {
    "name": "{{ bind_address }}",
    "address": "{{ bind_address }}",
    "subscriptions": [
      "elasticsearch"    ]
  },
    "redis": {
    "host": "{{ sensu.server }}",
    "port": 6379
  },
  "transport": {
    "name": "redis",
    "reconnect_on_error": true
  }
}
